<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>get CRUD</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
    
        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
    
        tr:nth-child(even) {
            background-color: #dddddd;
        }

        .btn-edit{
            outline: none;
            border: 1px solid #111;
            background-color: orange;
            height: 25px;
            width: 60px;
            border-radius:3px;
            cursor: pointer;
        }
        .btn-delete{
            outline: none;
            border: 1px solid #111;
            background-color: red;
            height: 25px;
            width: 60px;
            border-radius:3px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>Email</th>
            <th>Password</th>
            <th>Sửa</th>
            <th>Xóa</th>
        </tr>
        <% for(let i=0; i < dataTable.length; i++) { %>
            <tr>
                <td>
                   <%= dataTable[i].Email %>
                </td>
                <td>
                    <%= dataTable[i].Password %>
                </td>
                <td>
                    <a href="/edit-crud?ID=<%= dataTable[i].id %>" className="btn-Edit"type="button">Edit</a>
                </td>
                <td>
                    <a href="/delete-crud?id=<%= dataTable[i].id %>" className="btn-delete"type="button">Xoa</a>
                </td>
            </tr>
        <% } %>
    </table>
</body>
</html>