.container-assignment{
    margin-top: 30px;
    margin: 0 100px 0 100px;
    .assignment-title{
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px;
        margin-top: 25px;
        color: #0071ba;  
        margin-bottom: 30px
    }
}