.chairman{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin-top: 25px;
    color: #0071ba;  
    margin-bottom: 30px
}

.Container{
    margin: 0 100px;

    .content{
        padding: 15px 0;
    }
}