.preview-img-container{
    display: flex;
    gap: 5px;
    .btnImg{
        width: 30%;
        height: 30px;
        padding:5px;
        border-radius: 3px;
        background-color: #ddd;
        cursor: pointer;

        &:hover{
            opacity: 0.9;
        }
    }

    .preview-img{
        width:70%;
        height: 50px;
        background: center center no-repeat;
        background-size: contain;
    }
}
